
app/src/main/res/drawable/suzuha_emotion_angry.png
app/src/main/res/drawable/suzuha_emotion_apathetic.png
app/src/main/res/drawable/suzuha_emotion_back.png
app/src/main/res/drawable/suzuha_emotion_blushed.png
app/src/main/res/drawable/suzuha_emotion_calm.png
app/src/main/res/drawable/suzuha_emotion_displeased.png
app/src/main/res/drawable/suzuha_emotion_glad.png
app/src/main/res/drawable/suzuha_emotion_happy.png
app/src/main/res/drawable/suzuha_emotion_moody.png
app/src/main/res/drawable/suzuha_emotion_neutral.png
app/src/main/res/drawable/suzuha_emotion_playful.png
app/src/main/res/drawable/suzuha_emotion_sad.png
app/src/main/res/drawable/suzuha_emotion_serious.png
app/src/main/res/drawable/suzuha_emotion_skeptical.png
app/src/main/res/drawable/suzuha_emotion_surprised.png
app/src/main/res/drawable/suzuha_emotion_thoughtful.png
app/src/main/res/drawable/suzuha_emotion_tired.png
